
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="../fav.ico" />

<title layout:title-pattern="$CONTENT_TITLE">Task List</title>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link rel="stylesheet"
	th:href="@{/css/ie10-viewport-bug-workaround.css}" />

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/core.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap-datepicker3.min.css}" />

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script th:src="@{/js/ie-emulation-modes-warning.js}"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/locales/bootstrap-datepicker.tr.min.js}"
	charset="UTF-8"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

</head>

<body>

	<div th:replace="fragments/header :: header"></div>

	<div class="container-fluid">
		<div>
			<div layout:fragment="content">
				<div class="well">
					<h4>Dashboard</h4>
					<p>Some text..</p>
				</div>

			</div>
		</div>
	</div>


	<div th:replace="fragments/footer :: footer">&copy; 2013 The
		Static Templates</div>

</body>
</html>
