<div class="container-fluid"
	th:fragment="comments" style="border-top: 1px solid #999; padding-top: 20px">
	<div class="form-group">
		<textarea
			id="comment"
			class="form-control"
			rows="5"></textarea>
		<button
			class="btn btn-primary"
			onclick="postComment();">GÖNDER</button>
	</div>
	<div
		class="media"
		th:each="comment : ${comments}">
		<div class="media-left">
			<i
				class="fa fa-user-o fa-3x"
				aria-hidden="true"></i>
		</div>
		<div class="media-body">
			<h4
				class="media-heading"
				th:text="${comment.userName}">John Doe</h4>
			<p
				th:remove="tag"
				th:utext="${comment.comment}">Lorem ipsum...</p>
		</div>
	</div>

</div>