<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<!-- Fixed navbar -->
	<nav class="navbar navbar-custom navbar-fixed-top" th:fragment="header">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}"><!--img
					th:src="@{/img/shodom.png}" alt="shodom" /-->
					SHODOM
					</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#" th:href="@{/}">Ana Sayfa</a></li>
					<li><a href="#" th:href="@{/message}">Messages</a></li>
					<li><a href="#" th:href="@{/task}">Tasks</a></li>
					<li class="dropdown" sec:authorize="hasRole('ROLE_ADMIN')"><a
						href="#" class="dropdown-toggle" data-toggle="dropdown"
						role="button" aria-haspopup="true" aria-expanded="false">Entry
							<span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li><a href="/entry/add">Add Entry</a></li>
							<li><a href="/entry">Entry List</a></li>
						</ul></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li sec:authorize="!isAuthenticated()"><a
						th:href="@{/login}">Giriş</a></li>
					<li sec:authorize="!isAuthenticated()"><a
						th:href="@{/register}">Kayıt Ol</a></li>
					<li sec:authorize="isAuthenticated()"><a href="/logout"
						th:href="@{/logout}">Çıkış</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>

</body>
</html>