/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
  font-family: 'Roboto', sans-serif;
   font-size: 100%;
   background:#fff; 
}
a {
  text-decoration: none;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
a:hover {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  text-decoration:none;
}
.logo h1 {
    font-size: 1.2em;
}
/*--*/
nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1em;
}

nav a:hover,
nav a:focus {
	outline: none;
}
/* Effect 16: fall down */ 
.cl-effect-16 a {
	color: #6f8686;
	text-shadow: 0 0 1px rgba(111,134,134,0.3);
}

.cl-effect-16 a::before {
	color:#48a4b3;
	content: attr(data-hover);
	position: absolute;
	opacity: 0;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	-webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}
/*-- w3layouts -- */

.cl-effect-16 a:hover::before,
.cl-effect-16 a:focus::before {
	-webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	-moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
	opacity: 1;
}

/*--header menu nav start--*/
div#navbar {
    float:right;
    text-align: center;
}
.navbar-wrapper {
    padding: 1.5em 0em 1.5em 0em;
    margin-top: 0px !important;
    line-height: 36px;
    background: #314d68;
}
.navbar-inverse {
    background: none; 
    border:none; 
}
.navbar-nav {
    float: right !important;
	margin-top: 0em;
}
.navbar {
    margin-bottom: 0px !important;   
    min-height: 0px !important;   
}
.navbar-brand {
    float: left;
    height:0px !important;  
    padding:0px !important;  
}
.nav > li > a {
    margin: 0px 15px !important;
    padding: 7px 0px;
}
.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 2.5em;
    line-height: 0.8em;
    font-family: 'Cuprum', sans-serif;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color:#fff;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background: none;
}
.navbar-inverse .navbar-nav > li > a {
    color:#ffffff;
    line-height: 1.5em;
}
.navbar-inverse .navbar-nav > li > a.active{
	color:#9ec7ff;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color:#9ec7ff;
    background-color: transparent;
}