<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/default">
<head>
<title th:text="${entry.title}"></title>

<meta
	http-equiv="Content-Type"
	content="text/html; charset=UTF-8" />

<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta
	name="description"
	th:attr="content=${entry.title}" />
<meta
	name="keywords"
	content="Video, Teknoloji, Haberler, Yenilikler" />
<meta
	name="author"
	content="" />
	
<meta property="og:title" th:attr="content=${entry.title}"/>
<meta property="og:description" th:attr="content=${entry.plain}"/>
<meta property="og:url" th:attr="content=@{https://shodom.com/detail/{url}(url=${entry.urlRoute})}"/>
<meta property="og:image" th:attr="content=@{https://media.shodom.com/{gif}(gif=${entry.gifImage})}"/>
<meta property="og:site_name" content="shodom.com"/>
<meta property="fb:app_id" content="139369366543868"/>

<meta name="twitter:card" content="player" />
<meta name="twitter:site" content="@ShodomCom" />
<meta name="twitter:creator" content="@ShodomCom" />
<meta name="twitter:player:width" content="320" />
<meta name="twitter:player:height" content="240" />
<meta name="twitter:title" th:attr="content=${entry.title}" />
<meta name="twitter:description" th:attr="content=${entry.plain}" />
<meta name="twitter:player" th:attr="content=@{https://media.shodom.com/{gif}(gif=${entry.gifImage})}" />

 
<link 
	rel="stylesheet"
	th:href="@{/css/detail.css}" />
<link
	rel="stylesheet"
	th:href="@{/css/font-awesome.min.css}" />
<link rel="canonical" th:attr="href=@{http://shodom.com/detail/{url}(url=${entry.urlRoute})}" />
<script th:src="@{/js/comment.js}"></script>
<script th:src="@{/js/favorite.js}"></script>
<script th:src="@{/js/facebook.js}"></script>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&amp;render=explicit"
        async="true" defer="true" />
<script
	async="true"
	src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</head>
<body>

	<section layout:fragment="content">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<input
					type="hidden"
					id="entryId"
					th:value="${entry.id}" />
				<input
					type="hidden"
					id="userId"
					th:value="${user != null ? user.id : 0}" />
				<input
					type="hidden"
					id="favorite"
					th:value="${favori}" />
				<div class="embed-responsive embed-responsive-16by9">
					<iframe
						th:src="@{${entry.link}}"
						src="https://www.youtube.com/embed/reghyn9fmJQ"
						class="embed-responsive-item" allowfullscreen="allowfullscreen" />
				</div>
				<div class="page-header">
					<h1 th:text="${entry.title}"></h1>
					<small
						th:text="${#calendars.format(entry.publishDate,'dd/MM/yyyy')}"></small>

					<div
						class="fb-like pull-right"
						data-layout="button_count"
						data-action="like"
						data-size="small"
						data-show-faces="true"
						data-share="true"></div>

					<i
						sec:authorize="isAuthenticated()"
						id="favoriteBtn"
						class="fa fa-star-o fa-lg pull-right"
						style="color: silver;"
						onclick="postFavorite()"></i> <i
						sec:authorize="isAuthenticated()"
						id="unFavoriteBtn"
						class="fa fa-star fa-lg pull-right"
						style="color: gold;"
						onclick="postUnFavorite()"></i>
				</div>
				<div class="row">
					<div class="col-md-12">

						<div
							class="content"
							th:remove="tag"
							th:utext="${entry.content}"></div>
						<h3>Yorum Yaz</h3>
						<div th:replace="fragments/comments"></div>
					</div>
					<!--  div class="col-md-4"></div -->
				</div>
			</div>
			<div class="col-md-2">
				<div>
					<ins
						class="adsbygoogle"
						style="display: block"
						data-ad-client="ca-pub-6605932937338601"
						data-ad-slot="7081780276"
						data-ad-format="auto"></ins>
				</div>
			</div>
		</div>
	</section>

</body>
</html>