<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/default">
<head>
<title>Share For Freedom</title>
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script th:src="@{/js/tinyMceInit.js}"></script>
<script th:src="@{/js/videoSource.js}"></script>
<script th:src="@{/js/shareFacebook.js}"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

	<section layout:fragment="content">

		<h1>Edit Entry</h1>
		<form action="#" th:action="@{/entry/editPost}" th:object="${entry}"
			method="post">

			<input id="id" th:field="*{id}" type="hidden" /> <input
				id="urlRoute" th:field="*{urlRoute}" type="hidden" /> <input
				id="publishDate" th:field="*{publishDate}" type="hidden" />

			<div class="form-group">
				<label for="title">Title</label> <input th:field="*{title}"
					type="text" class="form-control" id="title"
					placeholder="Enter Title" />
				<!-- small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small -->
			</div>
			<div class="form-group">
				<label for="content">Content</label>
				<textarea rows="10" th:field="*{content}" class="form-control"
					id="content" placeholder="Enter Content"></textarea>
				<!-- small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small -->
			</div>
			<div class="form-group">
				<div class="btn-group">
					<button type="button" class="btn btn-success dropdown-toggle"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Video Adresi <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a onclick="changeSource(1);">youtube</a></li>
						<li><a onclick="changeSource(2);">vimeo</a></li>
					</ul>
				</div>
			</div>
			<div class="form-group">
				<label for="link">Link</label> <input th:field="*{link}" type="text"
					class="form-control" id="link" />
				<!-- small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small -->
			</div>
			<div class="form-group checkbox">
				<label> <input type="checkbox" th:field="*{showFlg}" />
					Yayınla
				</label>
			</div>
			<input type="submit" value="Gönder" class="btn btn-primary" />
			<input type="reset" value="İptal" class="btn btn-primary" />
		</form>
		
		<button class="btn btn-primary" onclick="gonder();">
				Facebook'ta Yayınla</button>
		<button class="btn btn-primary" onclick="postDownload();">
				Videoyu İndir</button>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe th:src="@{${entry.link}}"
						src="https://www.youtube.com/embed/reghyn9fmJQ"
						class="embed-responsive-item" />
				</div>
			</div>
		</div>


	</section>

</body>
</html>