<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/default">
<head>
<title>Share For Freedom</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>

	<section layout:fragment="content">
		<div class="list-group">
			<div th:each="entry : ${entryList}" class="list-group-item"
				th:classappend="${entry.showFlg} ? list-group-item-success : list-group-item-info">
				<span th:text="${entry.title}"></span> <a
					class="btn btn-danger pull-right"
					th:href="@{/entry/delete/{id}(id=${entry.id})}">Delete</a> <a
					class="btn btn-primary pull-right"
					th:href="@{/entry/edit/{id}(id=${entry.id})}">Edit</a>
			</div>
		</div>

		<p class="text-center" th:text="'Toplam Haber Sayısı :' + ${entryCount}"></p>
		<nav aria-label="Page navigation" class="text-center">
			<ul class="pagination">
				<li th:each="i : ${#numbers.sequence( 1, pageCount)}"><a th:href="@{/entry/{page}(page=${i})}"><span th:text="${i}"></span></a></li>
			</ul>
		</nav>
	</section>

</body>
</html>