<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/default">
<head>
<title>Share For Freedom</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<script th:src="@{/js/ajaxLoad.js}"></script>
<link rel="stylesheet" th:href="@{/css/index.css}" />
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />

</head>
<body>

	<section layout:fragment="content">
		<!-- div class="row" th:each="entryList : ${entries}" id="posts">
			<div class="col-sm-6 col-md-3" th:each="entry : ${entryList}">
				<div class="box">
					<div class="info">
						<iframe th:src="@{${entry.link}}"
							src="https://www.youtube.com/embed/reghyn9fmJQ" />
					</div>
					<div class="caption">
						<p th:text="${entry.title}"></p>
						<p>
							<a th:href="@{/detail/{url}(url=${entry.urlRoute})}" href="#"
								class="btn btn-primary">Detay</a>
						</p>
					</div>
				</div>
			</div>
		</div-->
		
		

		<div class="navbar navbar-default navbar-fixed-bottom text-center" id="loading">
			<i class="fa fa-spinner fa-spin fa-3x fa-fw margin-bottom"></i>
		</div>
		
		<script type="text/html" id="rowTemplate">
			<div class="row" id="posts">{0}</div>
		</script>

		<script type="text/html" id="entryTemplate">
			<div class="col-sm-6 col-md-3">
				<div class="box">
					<div class="info">
						<iframe src="{0}" />
					</div>
					<div class="caption">
						<p>{1}</p>
						<div class="bottomleft">
							<a href="/detail/{2}"
								class="btn btn-primary">Detay</a>
						</div>
						<!--div class="bottomright">
						<p>{3} izlenme</p>
						</div-->
					</div>
				</div>
			</div>
		</script>
	</section>

</body>
</html>