<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/default">
<head>
<title>Share For Freedom</title>
<meta
	http-equiv="Content-Type"
	content="text/html; charset=UTF-8" />

</head>
<body>

	<section layout:fragment="content">

		<div class="row" th:each="entryList : ${entries}">
			<div class="col-sm-6 col-md-3" th:each="entry : ${entryList}">
				<div class="box">
					<div class="info">
						<iframe th:src="@{${entry.link}}" src="https://www.youtube.com/embed/reghyn9fmJQ" />
					</div>
					<div class="caption">
						<p th:text="${entry.title}"></p>
						<p>
							<a th:href="@{/detail/{url}(url=${entry.urlRoute})}" href="#" class="btn btn-primary">Detay</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>