<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout/default">
<head>
<title>İp Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/core.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap-datepicker3.min.css}" />

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/locales/bootstrap-datepicker.tr.min.js}"
	charset="UTF-8"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/date.js}"></script>

</head>
<body>

	<section layout:fragment="content">

		<!-- div class="panel panel-default">
			<div class="panel-heading">Arama Kriterleri</div>

			<div class="panel-body">

				<div class="row">
					<div class="col-md-6">
						<form id="tarihSec">
							<label class="radio-inline"> <input type="radio"
								name="secimRadio" id="secimRd" value="1" checked="checked" /> Güne Göre
							</label> <label class="radio-inline"> <input type="radio"
								name="secimRadio" id="secimRd" value="2" /> Aya Göre
							</label> <label class="radio-inline"> <input type="radio"
								name="secimRadio" id="secimRd" value="3" /> Yıla Göre
							</label>
							<input type="hidden" value="1" id="sayfaId" />
						</form>
					</div>
				</div>

				<div class="row">
					<div class="col-md-1">Tarih Seçimi</div>
					<div class="col-md-2">
						<div class="input-group date">
							<input type="text" class="form-control" id="tarihTxt" /><span
								class="input-group-addon"><i
								class="glyphicon glyphicon-th"></i></span>
						</div>
					</div>
					<div class="col-md-1">
						<button class="btn btn-primary" id="arama">Ara</button>
					</div>
				</div>

			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 th:inline="text">[[${ipTarih}]] Tarihine Ait Farklı İp
					Girişleri</h1>
			</div>

			<div class="panel-body">


				<table class="table table-striped">
					<thead>
						<tr>
							<th>Kullanıcı Adı</th>
							<th>Tarih</th>
							<th>Farklı İp Sayısı</th>
							<th>Detay Bilgileri</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${ipGirisleri.empty}">
							<td colspan="4">Kayıt Bulunamadı</td>
						</tr>

						<tr th:each="customer : ${ipGirisleri}">

							<td th:text="${customer.kullaniciAdi}">Kullanıcı Adı</td>
							<td th:text="${customer.tarih}">Tarih</td>
							<td th:text="${customer.ipSayisi}">Farklı İp Sayısı</td>
							<td><a class="btn btn-primary"
								th:href=" @{'/ipDetay/' + ${customer.kullaniciId} + '/'+ ${customer.tarih}} ">Detay</a></td>
						</tr>

					</tbody>

				</table>


			</div>
		</div -->


	</section>

</body>
</html>