<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
	<title>Ooooppppssss Wrong Place !!!</title>
	<link rel="stylesheet" th:href="@{/css/notFound.css}" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

</head>
<body>
	<div class="main w3l">
		<h2>OOPS</h2>
		<h1> ERROR 404</h1>
		<h3>"Sorry ! the page you are looking for can't be found"</h3>
		<a th:href="@{/}" href="#" class="back">BACK TO HOME</a>
		<div class="social-icons w3">
			<ul>
				<li><a class="twitter" href="#"></a></li>
				<li><a class="facebook" href="#"></a></li>
				<li><a class="pinterest" href="#"></a></li>
			</ul>
		</div>
	</div>
	
</body>
</html>